/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/target/
/tmp/
/node_modules/
/Gemfile.lock

# rspec failure tracking
.rspec_status

# Added by cargo
/target

# build artifact
lib/isorun/isorun*

# todo: magnus/rb_sys copy the bundle into the wrong directory
lib/isorun.bundle

# turbo
dist/
.turbo

# demos
docs/demos/

