/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/target/
/tmp/
Gemfile.lock

# rspec failure tracking
.rspec_status

# Added by cargo
/target

# build artifact
lib/isorun/isorun*

# turbo
dist/
.turbo
