<%- # views/issues/show.erb.html %>

<h1>My first issue</h1>
<aside>
  <%= render turbo_app: "sidebar" %>
</aside>
<main>
  <%= render turbo_app: "editor" %>
</main>


<aside>
  <div>A very complex Vue app</div>
  <script type="module" src="/app.js"></script>
  <script>
      window.__APOLLO_STATE__ = {}
  </script>
</aside>
